read_csv(): Used to read data from a CSV file and create a DataFrame.

In [ ]:
import pandas as pd

# Reading a CSV file and creating a DataFrame
df = pd.read_csv('data.csv')

print(df)

head(): Displays the first few rows of a DataFrame.

In [2]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Display the first two rows
print(df.head(2))

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

groupby(): Groups data by a specified column and applies aggregation functions.

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emily'],
    'Age': [25, 30, 27, 30, 28],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Grouping by 'Gender' and calculating the mean age
grouped = df.groupby('Gender')['Age'].mean()

print(grouped)

Gender
Female    26.666667
Male      30.000000
Name: Age, dtype: float64

merge(): Combines two DataFrames based on a common column.

In [4]:
import pandas as pd

data1 = {
    'ID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Claire']
}

data2 = {
    'ID': [101, 102, 103],
    'Score': [85, 90, 78]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merging based on 'ID'
merged_df = pd.merge(df1, df2, on='ID')

print(merged_df)

    ID    Name  Score
0  101   Alice     85
1  102     Bob     90
2  103  Claire     78

pivot_table(): Creates a pivot table from a DataFrame, aggregating data based on specified columns.

In [5]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire', 'Bob', 'Alice', 'Claire'],
    'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
    'Score': [90, 85, 78, 92, 88, 80]
}

df = pd.DataFrame(data)

# Creating a pivot table with mean scores
pivot_table = df.pivot_table(index='Name', columns='Subject', values='Score', aggfunc='mean')

print(pivot_table)

Subject  Math  Science
Name
Alice      90       88
Bob        85       92
Claire     78       80